/*
	min 240, max 400
*/
body {
	min-width: 240px;
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
}

div.zone {
	width:240px;
	margin:auto;
}

div.region-left {
	width:240px;
}

div.region-center {
	width:240px;
}

div.region-right {
	width:240px;
}

div.region-main { /* left and center column together */
	width:240px;
}

img {
	max-width:240px;
}

.container-12 {  margin-left: auto;  margin-right: auto;  width: 240px;}
.container-12 .grid-1 {  width: 20px;}
.container-12 .grid-2 {  width: 40px;}
.container-12 .grid-3 {  width: 60px;}
.container-12 .grid-4 {  width: 80px;}
.container-12 .grid-5 {  width: 100px;}
.container-12 .grid-6 {  width: 120px;}
.container-12 .grid-7 {  width: 140px;}
.container-12 .grid-8 {  width: 160px;}
.container-12 .grid-9 {  width: 180px;}
.container-12 .grid-10 {  width: 200px;}
.container-12 .grid-11 {  width: 220px;}
.container-12 .grid-12 {  width: 240px;}
.container-12 .prefix-1 {  padding-left: 10px;}
.container-12 .prefix-2 {  padding-left: 20px;}
.container-12 .prefix-3 {  padding-left: 40px;}
.container-12 .prefix-4 {  padding-left: 60px;}
.container-12 .prefix-5 {  padding-left: 80px;}
.container-12 .prefix-6 {  padding-left: 100px;}
.container-12 .prefix-7 {  padding-left: 120px;}
.container-12 .prefix-8 {  padding-left: 140px;}
.container-12 .prefix-9 {  padding-left: 160px;}
.container-12 .prefix-10 {  padding-left: 180px;}
.container-12 .prefix-11 {  padding-left: 200px;}
.container-12 .suffix-1 {  padding-right: 60px;}
.container-12 .suffix-2 {  padding-right: 120px;}
.container-12 .suffix-3 {  padding-right: 180px;}
.container-12 .suffix-4 {  padding-right: 240px;}
.container-12 .suffix-5 {  padding-right: 300px;}
.container-12 .suffix-6 {  padding-right: 360px;}
.container-12 .suffix-7 {  padding-right: 420px;}
.container-12 .suffix-8 {  padding-right: 480px;}
.container-12 .suffix-9 {  padding-right: 540px;}
.container-12 .suffix-10 {  padding-right: 600px;}
.container-12 .suffix-11 {  padding-right: 660px;}
.container-12 .push-1 {  left: 10px;}
.container-12 .push-2 {  left: 20px;}
.container-12 .push-3 {  left: 40px;}
.container-12 .push-4 {  left: 60px;}
.container-12 .push-5 {  left: 80px;}
.container-12 .push-6 {  left: 100px;}
.container-12 .push-7 {  left: 120px;}
.container-12 .push-8 {  left: 140px;}
.container-12 .push-9 {  left: 160px;}
.container-12 .push-10 {  left: 180px;}
.container-12 .push-11 {  left: 200px;}
.container-12 .pull-1 {  left: -10px;}
.container-12 .pull-2 {  left: -20px;}
.container-12 .pull-3 {  left: -40px;}
.container-12 .pull-4 {  left: -60px;}
.container-12 .pull-5 {  left: -80px;}
.container-12 .pull-6 {  left: -100px;}
.container-12 .pull-7 {  left: -120px;}
.container-12 .pull-8 {  left: -140px;}
.container-12 .pull-9 {  left: -160px;}
.container-12 .pull-10 {  left: -180px;}
.container-12 .pull-11 {  left: -200px;}

/* 240 */
.container-24 .grid-1 { width: 10px; }
.container-24 .grid-2 { width: 20px; }
.container-24 .grid-3 { width: 30px; }
.container-24 .grid-4 { width: 40px; }
.container-24 .grid-5 { width: 50px; }
.container-24 .grid-6 { width: 60px; }
.container-24 .grid-7 { width: 70px; }
.container-24 .grid-8 { width: 80px; }
.container-24 .grid-9 { width: 90px; }
.container-24 .grid-10 { width: 100px; }
.container-24 .grid-11 { width: 110px; }
.container-24 .grid-12 { width: 230px; }
.container-24 .grid-13 { width: 130px; }
.container-24 .grid-14 { width: 140px; }
.container-24 .grid-15 { width: 150px; }
.container-24 .grid-16 { width: 160px; }
.container-24 .grid-17 { width: 170px; }
.container-24 .grid-18 { width: 180px; }
.container-24 .grid-19 { width: 190px; }
.container-24 .grid-20 { width: 200px; }
.container-24 .grid-21 { width: 210px; }
.container-24 .grid-22 { width: 220px; }
.container-24 .grid-23 { width: 230px; }
.container-24 .grid-24 { width: 240px; }
.container-24 .prefix-1 { padding-left: 0px;}
.container-24 .prefix-2 { padding-left: 10px;}
.container-24 .prefix-3 { padding-left: 20px;}
.container-24 .prefix-4 { padding-left: 30px;}
.container-24 .prefix-5 { padding-left: 40px;}
.container-24 .prefix-6 { padding-left: 50px;}
.container-24 .prefix-7 { padding-left: 60px;}
.container-24 .prefix-8 { padding-left: 70px;}
.container-24 .prefix-9 { padding-left: 80px;}
.container-24 .prefix-10 { padding-left: 90px;}
.container-24 .prefix-11 { padding-left: 100px;}
.container-24 .prefix-12 { padding-left: 110px;}
.container-24 .prefix-13 { padding-left: 120px;}
.container-24 .prefix-14 { padding-left: 130px;}
.container-24 .prefix-15 { padding-left: 140px;}
.container-24 .prefix-16 { padding-left: 150px;}
.container-24 .prefix-17 { padding-left: 160px;}
.container-24 .prefix-18 { padding-left: 170px;}
.container-24 .prefix-19 { padding-left: 180px;}
.container-24 .prefix-20 { padding-left: 190px;}
.container-24 .prefix-21 { padding-left: 200px;}
.container-24 .prefix-22 { padding-left: 210px;}
.container-24 .prefix-23 { padding-left: 220px;}
.container-24 .suffix-1 { padding-right: 0px;}
.container-24 .suffix-2 { padding-right: 10px;}
.container-24 .suffix-3 { padding-right: 20px;}
.container-24 .suffix-4 { padding-right: 30px;}
.container-24 .suffix-5 { padding-right: 40px;}
.container-24 .suffix-6 { padding-right: 50px;}
.container-24 .suffix-7 { padding-right: 60px;}
.container-24 .suffix-8 { padding-right: 70px;}
.container-24 .suffix-9 { padding-right: 80px;}
.container-24 .suffix-10 { padding-right: 90px;}
.container-24 .suffix-11 { padding-right: 100px;}
.container-24 .suffix-12 { padding-right: 110px;}
.container-24 .suffix-13 { padding-right: 120px;}
.container-24 .suffix-14 { padding-right: 130px;}
.container-24 .suffix-15 { padding-right: 140px;}
.container-24 .suffix-16 { padding-right: 150px;}
.container-24 .suffix-17 { padding-right: 160px;}
.container-24 .suffix-18 { padding-right: 170px;}
.container-24 .suffix-19 { padding-right: 180px;}
.container-24 .suffix-20 { padding-right: 190px;}
.container-24 .suffix-21 { padding-right: 200px;}
.container-24 .suffix-22 { padding-right: 210px;}
.container-24 .suffix-23 { padding-right: 220px;}
.container-24 .push-1 { left: 0px;}
.container-24 .push-2 { left: 10px;}
.container-24 .push-3 { left: 20px;}
.container-24 .push-4 { left: 30px;}
.container-24 .push-5 { left: 40px;}
.container-24 .push-6 { left: 50px;}
.container-24 .push-7 { left: 60px;}
.container-24 .push-8 { left: 70px;}
.container-24 .push-9 { left: 80px;}
.container-24 .push-10 { left: 90px;}
.container-24 .push-11 { left: 100px;}
.container-24 .push-12 { left: 110px;}
.container-24 .push-13 { left: 120px;}
.container-24 .push-14 { left: 130px;}
.container-24 .push-15 { left: 140px;}
.container-24 .push-16 { left: 150px;}
.container-24 .push-17 { left: 160px;}
.container-24 .push-18 { left: 170px;}
.container-24 .push-19 { left: 180px;}
.container-24 .push-20 { left: 190px;}
.container-24 .push-21 { left: 200px;}
.container-24 .push-22 { left: 210px;}
.container-24 .push-23 { left: 220px;}
.container-24 .pull-1 { left: -0px;}
.container-24 .pull-2 { left: -10px;}
.container-24 .pull-3 { left: -20px;}
.container-24 .pull-4 { left: -30px;}
.container-24 .pull-5 { left: -40px;}
.container-24 .pull-6 { left: -50px;}
.container-24 .pull-7 { left: -60px;}
.container-24 .pull-8 { left: -70px;}
.container-24 .pull-9 { left: -80px;}
.container-24 .pull-10 { left: -90px;}
.container-24 .pull-11 { left: -100px;}
.container-24 .pull-12 { left: -110px;}
.container-24 .pull-13 { left: -120px;}
.container-24 .pull-14 { left: -130px;}
.container-24 .pull-15 { left: -140px;}
.container-24 .pull-16 { left: -150px;}
.container-24 .pull-17 { left: -160px;}
.container-24 .pull-18 { left: -170px;}
.container-24 .pull-19 { left: -180px;}
.container-24 .pull-20 { left: -190px;}
.container-24 .pull-21 { left: -200px;}
.container-24 .pull-22 { left: -210px;}
.container-24 .pull-23 { left: -220px;}
