@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700|Merriweather:400,400i,700');

div.indentation {  float: left; height: 1.7em; margin: -0.4em 0.2em -0.4em -0.4em; padding: 0.42em 0 0.42em 0.6em;   width: 20px;}
    .container-inline div, .container-inline label {  display: inline; }
    .container-inline .fieldset-wrapper {  display: block;}
    .nowrap {  white-space: nowrap;}
    html.js .js-hide {  display: none; }
    .element-hidden {  display: none; }
    .element-invisible {  position: absolute !important;  clip: rect(1px 1px 1px 1px);   clip: rect(1px, 1px, 1px, 1px);  overflow: hidden;  height: 1px; }
    .element-invisible.element-focusable:active, .element-invisible.element-focusable:focus {  position: static !important;   clip: auto;  overflow: visible;  height: auto;}
    .clearfix:after {  content: ".";  display: block;  height: 0;  clear: both;  visibility: hidden; }
    * html .clearfix {  height: 1%;}
    *:first-child + html .clearfix {  min-height: 1%;}
.sf-menu, .sf-menu * {  list-style: none;  margin: 0;  padding: 0;}
.sf-menu {  line-height: 1.0;  z-index: 497;}
.sf-menu ul {  left: 0;  position: absolute;  top: -99999em;  width: 12em;}
.sf-menu ul li {  width: 100%;}
.sf-menu li {  float: left;  position: relative;  z-index: 498;}
.sf-menu a {  display: block;  position: relative;  font-size: 12px;   font-style:normal; }
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu li:hover ul,.sf-menu li.sfHover ul {  z-index: 499;}
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {  left: 0;  top: 2.5em; }
.sf-menu li li:hover > ul,.sf-menu li li.sfHover > ul {   left: 12em;  top: 0;}
.sf-menu a.sf-with-ul {  min-width: 1px;}
.sf-menu ul .sf-sub-indicator {  background-position: -10px 0;}
.sf-menu ul a > .sf-sub-indicator {  background-position: 0 0;}
.sf-menu ul a:focus > .sf-sub-indicator,.sf-menu ul a:hover > .sf-sub-indicator,.sf-menu ul a:active > .sf-sub-indicator,.sf-menu ul li:hover > a > .sf-sub-indicator,.sf-menu ul li.sfHover > a > .sf-sub-indicator {  background-position: -10px 0;}


html, body, div {  margin: 0;   padding: 0;   border: 0;   outline: 0;   font-size: 100%;   vertical-align: baseline;   font: inherit;}
h1, h2, h3, h4, h5, h6 {  margin: 0;   padding: 0;   border: 0;   outline: 0;   font-size: 100%;   vertical-align: baseline;   font: inherit;   font-weight: bold; }

a, p, ul, ol, li, img, span, strong, em {
  margin: 0;   padding: 0;   border: 0;   outline: 0;   font-size: 100%;   vertical-align: baseline;   font: inherit;
}

table, tbody, tfoot, thead, tr, th, td {
  margin: 0;   padding: 0;   border: 0;   outline: 0;   font-size: 100%;   vertical-align: baseline;   font: inherit;
  color: inherit;
}

object, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, font, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, caption, fieldset, form, label, legend, article,
figure, footer, header, hgroup, section,
details, embed, figcaption, menu, nav, output, ruby, summary, time, mark, audio, video{
  margin: 0;   padding: 0;   border: 0;   outline: 0;   font-size: 100%;   vertical-align: baseline;   font: inherit;
}
article, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;}

body {  line-height: 1; }

b, strong {   font-weight: bold; }
em, i {  font-style: italic; }
ol, ul {  list-style: none; }
blockquote, q {  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {  content: '';  content: none;}

:focus {  outline: 0; }
ins {  text-decoration: none; }
del {  text-decoration: line-through;}
table {  border-collapse: collapse;  border-spacing: 0; }

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10,
.grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19,
.grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
  position: relative;
}

.container-12 .block .omega-grid, .container-16 .block .omega-grid, .container-24 .block .omega-grid {
  position: relative;   margin-left: -10px;  margin-right: -10px;
}

.clearfix:after {  font-size: 0; }

.inline li, .tabs li  {  list-style: none;  display: inline;  margin-right: 0.5em; }
.item-list li {  list-style: none; }
.pager li {  display: inline;   margin-right: 0.25em; }
img {  vertical-align: bottom; }

.field-label-inline .field-label, .field-label-inline .field-items,.field-label-inline .field-item {  display: inline; }

::-moz-focus-inner {  border: 0;  padding: 0; }
input[type="search"]::-webkit-search-decoration {  display: none; }

input,button,select {  margin: 0;  vertical-align: middle;}

button, input[type="reset"],input[type="submit"],input[type="button"] {
  border: 1px solid #247;
  cursor: pointer;
  background-color: #36a;
  font: bold 12px/1.2 Calibri,Arial,sans-serif;  outline:0;   overflow:visible;
  padding:2px 8px 2px;
  width: auto;
}
button, input[type="reset"], input[type="submit"], input[type="button"] {
	border-radius: 0;
	height: 20px;
	margin-left:4px;
	color: #fff;
}

select,
input[type="date"],             input[type="datetime"],
input[type="datetime-local"],   input[type="email"],
input[type="month"],            input[type="number"],
input[type="password"],         input[type="search"],
input[type="tel"],              input[type="text"],
input[type="time"],             input[type="url"],
input[type="week"] {
  -webkit-appearance: none;   -moz-border-radius: 2px;
  -webkit-border-radius: 2px;   border-radius: 2px;
  -webkit-box-sizing: border-box;   -moz-box-sizing: border-box;
  box-sizing: border-box;   -moz-background-clip: padding;
  -webkit-background-clip: padding;  background-clip: padding-box;
  background-color: #fff;   border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;   color: #666;  outline: 0;
  padding: 2px 3px;   font-size: 11px;   font-family: Verdana, Arial, sans-serif;
  height: 1.8em;   *padding-top: 2px; *padding-bottom: 1px;   *height: auto;
}

input.placeholder_text, textarea.placeholder_text, input:-moz-placeholder, textarea:-moz-placeholder {   color: #888; }

::-webkit-input-placeholder {   color: #888; }

button:focus, button:active, input:focus, input:active, select:focus,
select:active, textarea:focus, textarea:active {
  -moz-box-shadow: #06f 0 0 7px;   -webkit-box-shadow: #06f 0 0 7px;
  box-shadow: #06f 0 0 7px;  z-index: 1;
}

input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus, input[type="radio"]:active,
input[type="checkbox"]:focus, input[type="checkbox"]:active {
  -moz-box-shadow: none;   -webkit-box-shadow: none;   box-shadow: none;
}

select[disabled], textarea[disabled], input[type="date"][disabled],
input[type="datetime"][disabled], input[type="datetime-local"][disabled],
input[type="email"][disabled], input[type="month"][disabled],
input[type="number"][disabled], input[type="password"][disabled],
input[type="search"][disabled], input[type="tel"][disabled],
input[type="text"][disabled], input[type="time"][disabled],
input[type="url"][disabled], input[type="week"][disabled] {
  background-color: #eee;
}

button[disabled], input[disabled], select[disabled], select[disabled] option,
select[disabled] optgroup, textarea[disabled] {
  -moz-box-shadow: none;   -webkit-box-shadow: none;   box-shadow: none;  -webkit-user-select: none;
  -moz-user-select: none;   user-select: none;   color: #888;  cursor: default;
}

textarea, select[size], select[multiple] {  height: auto; }

textarea {  min-height: 40px;  overflow: auto;  resize: vertical;  width: 100%; }

optgroup {  color: #000;  font-style: normal;  font-weight: normal; }

* html button {  padding-top: 1px;  padding-bottom: 1px; }

.ie6-input, * html select {
  background: #fff;   border: 1px solid;   border-color: #848484 #c1c1c1 #e1e1e1;
  color: #000;   padding: 2px 3px 1px;  font-size: 13px;  font-family: Arial, sans-serif;
  vertical-align: top;
}

* html select {   margin-top: 1px; }

.placeholder_text, .ie6-input-disabled, .ie6-button-disabled {  color: #888; }

.ie6-input-disabled {  background: #eee; }

body { font: 13px/1.5 Verdana, Helvetica, Arial, sans-serif; }

a:link, a:visited {  color: #0062A0;  text-decoration: underline;}
a:hover {  color: #202124;  text-decoration: none; }
a:active {  color: #202124;  text-decoration: none;  color: #000; }
hr {  margin: 0;  padding: 0;  border: none;  height: 1px;  background: #5294c1; }

h1, h2, h3, h4, h5, h6 {  letter-spacing: -0.05em;  font-family: Georgia, 'Times New Roman', serif; }

h1 {  font-size: 36px; }
h2 {  font-size: 28px; }

h1.site-name, h2.site-name {  font-size: 36px; }

h2.block-title {  font-size: 18px;  margin: 0;	}
h2.node-title {  font-size: 28px;}

ol {  list-style: decimal; }
/*ul {  list-style: disc; }*/

ul ul, ol ol {  padding-top: 0.5em; }

.node ol,.node ul {  padding-left: 1.2em;}

.node ul.inline,.node ol.inline {  padding-left: 0;}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {  margin-bottom: 20px;}

dt, .admin h3 {  font-size: 18px;  margin: 0;}

dd {  padding-left: 10px;  font-size: 0.9em;  font-style: italic;  margin-bottom: 20px; }

.logo-img {  float: left;  margin-right: 20px; }
.site-name-slogan {  float: left; }
.site-name {  margin-top: 20px;}
.site-name a {  text-decoration: none;}
.site-name,.site-slogan {  margin-bottom: 0;  line-height: 1em;}

.site-slogan {  font-weight: normal;}
.menu {  margin: 0;  padding: 0;}
.menu li {  list-style: none;  }


body {
	background-color: #0f3f6f;
	color: #fff;
	/*color: #000000;*/
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 12px;
}

.site-name {	padding-top: 5px; }
h1.site-name {
	font-family: 'Merriweather', serif;
	font-weight: bold;	font-size: 14px;	line-height: 130%;	padding-bottom: 3px;
	padding-top: 4px;	letter-spacing: 0px;	border-bottom: 1px solid #2E5781;
	text-transform: uppercase;
}
h2.site-name {
	font-family: 'Merriweather', serif;
	font-weight: bold;	font-size: 14px;	line-height: 130%;	padding-bottom: 3px;
	padding-top: 4px;	letter-spacing: 0px;	border-bottom: 1px solid #2E5781;
	text-transform: uppercase;
}
.site-slogan {
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: bold;	font-size: 14px;	line-height: 130%;	padding-bottom: 3px;	padding-top: 5px;	letter-spacing: 0px;
	text-transform: uppercase;	color: #EAE6E6;
}

#zone-user-wrapper {	background-color: #0c3258;	border-bottom: 1px solid #2e5781;}
#zone-user {	background-color: #002952;	color: #ffffff;	padding-top: 8px;	padding-bottom: 4px;	font-size: 11px;}
#zone-user a:link {	color: #ffffff;	text-decoration: none;}
#zone-user a:visited {	color: #ffffff;	text-decoration: none;}
#zone-user a:hover {	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px dotted #fff;
}
#zone-user a:active {	color: #ffffff;	text-decoration: none;}
#zone-branding {	padding-top: 29px;	background-color: #003366;	padding-bottom:20px;	border-bottom: 1px solid #214e7a;}
#zone-branding.small {	padding-top: 9px; padding-bottom:10px; }
#zone-branding.small h2 { margin-bottom:10px;}

#region-application-title h1 {
	font-family: 'Merriweather', serif;
	font-weight: bold;	font-size: 18px;	line-height: 130%;	padding-bottom: 3px;
	padding-top: 4px;	letter-spacing: 0px;	border-bottom: 1px solid #2E5781;
	text-transform: uppercase;
	color:#fff;
	margin-bottom: 0px;
	margin-top: 16px;
}
#region-application-title h2 {
	font-family: 'Merriweather', serif;
	font-weight: bold;	font-size: 16px;	line-height: 130%;	padding-bottom: 3px;
	padding-top: 4px;	letter-spacing: 0px;
	text-transform: uppercase;
	color:#fff;
}

#zone-branding a:link {	color: #EAE6E6;	text-decoration: none;	text-transform:uppercase;	font-weight: bold;}
#zone-branding a:visited {	color: #EAE6E6;	text-decoration: none;	text-transform:uppercase;	font-weight: bold;}
#zone-branding a:hover {	color: #bbbbbb;	text-decoration: none;	text-transform:uppercase;	font-weight: bold;}
#zone-branding a:active {	color: #EAE6E6;	text-decoration: none;	text-transform:uppercase;	font-weight: bold;}

#zone-menu {	background-color: #003366; }
#zone-header {	background-color: #003366; }
#zone-preface {	background-color: #1a4876; }
#zone-content {	background-color: #ffffff; }
#zone-postscript{	background-color: #003366; }
#zone-footer-wrapper {	background-color: #0a2a4a;	border-top: 1px solid #2E5781; }
#zone-footer {	padding-top: 10px;	padding-bottom: 10px;	background-color: #002244;	color: #ffffff; }
#zone-footer a:link {	color: #ffffff;	text-decoration: none; }
#zone-footer a:visited {	color: #ffffff;	text-decoration: none;}
#zone-footer a:hover {	color: #ffffff;	text-decoration: underline; }
#zone-footer a:active {	color: #ffffff; text-decoration: none; }

#block-widgets-s-socialmedia-profile-default a:link {	padding-right:5px; }
#block-widgets-s-socialmedia-profile-default a:visited {	padding-right:5px; }
#block-widgets-s-socialmedia-profile-default a:hover {	padding-right:5px;}
#block-widgets-s-socialmedia-profile-default a:active { padding-right:5px; }
#block-widgets-s-socialmedia-profile-buttons a:link { padding-right:10px; }
#block-widgets-s-socialmedia-profile-buttons a:visited { padding-right:10px; }
#block-widgets-s-socialmedia-profile-buttons a:hover { padding-right:10px; }
#block-widgets-s-socialmedia-profile-buttons a:active {	padding-right:10px; }

#region-user-first {	padding-top: 3px;}
#region-header-second {	padding-top: 3px;	text-align: left; }
#region-user-third { padding-left:30px; 	text-align: right;}
#region-user-fourth {	float:right; font: 11px/1 Verdana; 	padding-top: 3px;	text-align: right;}
#region-branding-second {	text-align: right;}
#region-menu {	padding-top: 8px;}
#region-branding {	padding-left: 10px;}
#region-application-title {	text-align: right;}
#region-preface-first {    margin:0px auto;    background-color:#003366;    padding:10px;    z-index: 10; }
#region-preface-first:after {    background-color: #003366;    content: '';    display: block;    position: absolute;
    top: 10px;    left: 10px;    right: 10px;    bottom: 10px;    z-index: -1;
}
#region-preface-third { margin:0px auto; background-color:#1a4876; padding-left:10px;padding-right:10px;	padding-bottom:10px;	padding-top:40px;     z-index: 10;}
#region-preface-third:after {
    background-color: #1a4876;
    content: '';    display: block;    position: absolute;
    top: 0px;    left: 10px;    right: 10px;    bottom: 10px;    z-index: -1;
}
#region-content {
	border-left: none;
	border-right: none;
	color: #003;
}
.region-content-inner {
	margin-left: 5px;	margin-right: 5px;	margin-top: 0px; margin-bottom: 15px;
	padding-left: 10px;	padding-right: 10px;
}
#region-sidebar-first {	margin: 5px;}
#region-sidebar-second {	margin: 5px;}
#region-footer-first {	padding-top:20px;	padding-left:10px;	text-align: left;}
#region-footer-second {	text-align: center;	padding-left:10px;	padding-top:25px; }
#region-footer-second .region-inner {	padding-left: 30px;}
#region-footer-third {	padding-left: 30px;	padding-top: 10px;}
#region-footer-fourth {	border-left:0px solid #9cb0c4; text-align:right; }

#block-views-info-linkek-block {	padding-top: 10px;	margin-left: 5;	margin-right: 5;}

#widgets-element-socialmedia_profile-default {	text-align: right; }
#widgets-element-socialmedia_profile-buttons {	padding-top: 100px;	padding-left: 100px;}

#region-footer-first li {	display:inline;    list-style-type:none;    padding-left:0.7em;    margin-left:0.1em;
	padding-top: 0px;	padding-bottom: 0px;    border-left:1px solid #9cb0c4;	letter-spacing: 0.2px;	font-size: 11px;
}
#region-footer-first li:first-child {    border-left:none;}
#region-footer-first li a:link {  color: #ffffff;  text-decoration: none;}
#region-footer-first li a:link a:visited {  color: #ffffff;  text-decoration: none;}
#region-footer-first li a:hover {  color: #ffffff;  text-decoration: underline;}
#region-footer-first li a:active {  color: #ffffff;  text-decoration: none;}

#region-user-first li {	display:inline;    list-style-type:none;    padding-left:0.7em;    margin-left:0.1em;	padding-top: 0px;
	padding-bottom: 0px;    border-left:1px solid #9cb0c4;	letter-spacing: 0.2px;	font-size: 11px;
}
#region-user-first li:first-child {    border-left:none;}
#region-user-first li a { color: #ffffff;	text-decoration: none; border-bottom: 1px solid transparent; }
#region-user-first li a:link {	text-decoration: none; }
#region-user-first li a:link a:visited {  text-decoration: none;}
#region-user-first li a:hover {
	color: #ffffff;
	border-bottom: 1px dotted #fff;
	}
#region-user-first li a:active {  color: #ffffff;  text-decoration: none;}

#region-preface-first span.views-field-title {	text-transform:uppercase;	letter-spacing:-0.5px;	padding-left: 20px;	color: #EAE6E6;	font-size: 14px; }
#region-preface-first div.views-field-field-kep {	padding-top: 5px;	padding-bottom: 20px; }
#region-preface-first ul {	padding-bottom: 20px;	padding-left: 10px; }
#region-preface-first li{	list-style-image:url('/Images/drupal_pte_li.png');	font-size: 12px;	width: 80%;	letter-spacing:0; }
#region-preface-first a:link {	  color: #EAE6E6;	text-decoration: none; }
#region-preface-first a:visited { color: #EAE6E6;	text-decoration: none; }
#region-preface-first a:hover {	  color: #bbbbbb;	text-decoration: underline; }
#region-preface-first a:active {  color: #EAE6E6;	text-decoration: none; }
#region-preface-first .views-row {	min-width: 230px;	width: 33%;	margin-top:10px;	margin-bottom:10px;	height: 400px;	float: left;	margin-left:auto; }

#region-preface-third h2 {
	border: 1px solid #40668c;	font-family: Verdana;
	font-size: 13px;	font-weight: normal;	padding-top: 5px;	padding-bottom: 5px;
	padding-left: 15px;	padding-right: 15px;	background-color: #456382;	margin-bottom: 10px;
	margin-top: 15px;	color: #ffffff;	text-transform:uppercase;	letter-spacing:1px;
}

#region-preface-third a:link {	color: #fff;		text-decoration: none;	line-height: 20px; }
#region-preface-third a:visited {	color: #EAE6E6;	text-decoration: none;	line-height: 20px; }
#region-preface-third a:hover {	color: #bbbbbb;	text-decoration: underline;	line-height: 20px; }
#region-preface-third a:active {	color: #EAE6E6;	text-decoration: none;	line-height: 20px; }
#region-preface-third .views-row {	background-image: url('/Images/drupal_pte_li.png');	background-repeat:no-repeat;	background-position: left center;  }
#region-preface-third .field-content {	padding-left: 10px; }
#region-preface-third .view-footer  a:link {	color: #bbbbbb; }
#region-preface-third .view-footer a:visited {	color: #bbbbbb; }
#region-preface-third .view-footer a:active {	color: #bbbbbb; }
#region-preface-third .view-footer  a:hover {	color: #EAE6E6; }

a:link, a:visited {		color: #0062A0;	text-decoration: none;}
a:hover {	color: #0062A0;	text-decoration: none; border-bottom: 1px dotted #0062A0;}
a:active {	color: #0062A0;	text-decoration: none; }


ul li.leaf {	list-style-image: none;	list-style-type: none; padding-right:6px; }
.block-locale-language ul li {	display: inline;}
.block-locale-language li {	padding-left: 5px; padding-right: 5px;}
.language-switcher-locale-session {	margin-bottom: 0px;}

p, dl,  ol, ul, pre, table, address, fieldset {    margin-bottom: 5px;	font-family: Verdana;  }

h1 {	font-family: Verdana;	font-size: 20px;	color:#3F3F3F;	padding-top: 3px; }
h2 {	font-family: Verdana;    font-size: 18px;	color:#3F3F3F;}
h3 {	font-family: Verdana;    font-size: 16px;	color:#3F3F3F;}
h4 {	font-family: Verdana;    font-size: 14px;	color:#3F3F3F;}
h5 {	font-family: Verdana;    font-size: 12px;	color:#3F3F3F;}

ul.quicktabs-tabs.quicktabs-style-basic li.active {    background-color: #FF6600;    border-bottom: 1px solid #E5E5E5; }

.sf-menu.sf-style-blue a {     color: #FFFFFF;    font-size: 11px;    padding: 0.5em 0.1em;}

#ie6-wrapper {
  background-color:#544848;
  border-top:1px solid #ffb91a;
  border-bottom:1px solid #ffb91a;
  filter:progid:DXImageTransform.Microsoft.Shadow(Strength=30,Direction=180,Color='#000001');
  padding:5px 0px 5px;
  position:absolute;
  top:40px;
  z-index:1000;
  width:100%;
}
#ie6 {   background-color:#ffb91a;  color:#544848;   font-size:9px;  line-height:1em;  margin-left:auto;  margin-right:auto;  padding:5px 5px 5px;  text-align:center;  width:100%;}


ul.mainmenu {
	float: left;
	margin-bottom: 5px;
	padding: 0;
	border: none;
	list-style: none;
	text-align: left;
	font-family: Verdana;
	vertical-align: baseline;
}

ul.mainmenu li {
	float: left;
	position: relative;
	z-index: 6;
	padding: 0;
	margin-left: 8px;
	margin-right: 8px;
	color: #999;
}


ul.mainmenu li a, ul.mainmenu li span {
	color: #fff;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid transparent;
}

ul.mainmenu li a:hover, ul.mainmenu li span:hover {
	border-bottom: 1px dotted #fff;
	cursor:pointer;
}

ul.mainmenu li span.disabled {
	color:inherit;
	cursor:inherit;
}
ul.mainmenu li span.disabled:hover {
	border-bottom:inherit;
}

ul.mainmenu li a.disabled {
	color:inherit;
	cursor:default;
}
ul.mainmenu li a.disabled:hover {
	border-bottom:inherit;
}

/* popup felülírások */
div#page.popup div.zone-branding {padding-top:0px; padding-bottom: 0;}
div#page.popup div.zone-branding h1 {margin-top:8px; font-size:120%}
div#page.popup div.zone-branding h2 {margin-bottom:8px; font-size:120%}
